.about-nav-conteiner {
  background-image: url(/images/about/about-header-img.png);
  display: flex;
  justify-content: center;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
}

.about-hero-section-box {
  flex: 1;
  max-width: 1350px;
}

.about-nav-title-subtitle {
  margin-top: 100px;
  color: #fff;
  text-align: center;
}

.nav-title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(15px, 3vw, 18px);
  line-height: clamp(40px, 3vw, 27px);
}

.nav-subtitle {
  font-family: "yesteryear", sans-serif;
  font-weight: 400;
  font-size: clamp(50px, 10vw, 157px);
  line-height: clamp(40px, 6px, 223);
}
.about-promotion-conteiner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.about-promotion-box {
  flex: 1;
  max-width: 1404px;
  margin: 50px 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 650px;
  padding: 0 20px;
  justify-content: space-between;
}

.about-subtitle {
  color: #df6951;
  font-size: clamp(15px, 4vw, 18px);
  line-height: clamp(40px, 4vw, 27px);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.about-title {
  max-width: 640px;
  color: #181e4b;
  font-size: clamp(22px, 4vw, 50px);
  line-height: clamp(35px, 4vw, 71px);
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.about-prg {
  color: black;
  margin-top: 15px;
  font-size: clamp(10px, 4vw, 16px);
  line-height: clamp(15px, 4vw, 26px);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.about-button {
  border-radius: 10px;
  padding: 15px 22.5px;
  color: white;
  background-color: #df6951;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  border-style: none;
  font-weight: 400;
}

.about-img-div {
  flex: 1;
}

.about-img {
  width: 100%;
  min-width: clamp(200px, 4vw, 350px);
}

.about-video-conteiner {
  margin: 0 auto;
}

.about-video {
  position: relative;
  object-fit: cover;
  object-position: top;
}

.about-video-play {
  width: 100%;
  max-height: 600px;
  min-height: 300px;
  object-fit: cover;
}

.about-video-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 400;
  line-height: clamp(50px, 8vw, 223px);
  font-size: clamp(50px, 8vw, 100px);
  font-family: "Yesteryear", sans-serif;
  color: #ffffff;
}
.about-trend-section-conteiner {
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  padding: 0 20px;
}

.trend-section-img2 {
  height: 255px;
  top: 0;
  right: 0;
  position: absolute;
}

.about-trend-section-box {
  max-width: 1350px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trend-img-div {
  max-width: 555px;
}

.trend-img {
  width: 100%;
  min-width: clamp(200px, 4vw, 350px);
}
.title-sub-p-img {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.trend-subtitle {
  color: #df6951;
  font-size: clamp(15px, 4vw, 18px);
  line-height: clamp(27px, 4vw, 40px);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.trend-title {
  color: #181e4b;
  font-size: clamp(22px, 8vw, 50px);
  line-height: clamp(35px, 8vw, 71px);
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.trend-prg {
  color: black;
  margin: 20px 0 30px 0;
  font-size: clamp(10px, 4vw, 16px);
  line-height: clamp(15px, 4vw, 26px);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.trend-section-statick-subtitle {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 50px;
}

.statick-h4 {
  color: #181e4b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 20px 20px;
}

@media (max-width: 1240px) {
  .about-trend-section-box {
    justify-content: center;
  }
}
@media (max-width: 1660px) {
  .trend-section-img2 {
    z-index: -1;
  }
}

@media (max-width: 1240px) {
  .trend-section-img2 {
    display: none;
  }
}

@media (max-width: 660px) {
  .trend-section-statick-subtitle {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
/* explore-packages-section-start */
.about-explore-packages-section {
  margin: 0 auto;
  padding: 75px 25px;
}

.about-explore-packages-section-title-subtitle {
  margin-bottom: 50px;
}

.about-explore-packages-section-subtitle {
  text-align: center;
  color: #df6951;
  font-size: clamp(15px, 4vw, 18px);
  line-height: clamp(40px, 4vw, 27px);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.about-explore-packages-section-title {
  text-align: center;
  color: #181e4b;
  font-size: clamp(22px, 4vw, 50px);
  line-height: clamp(35px, 4vw, 71px);
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.about-explore-packages-section-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 363px));
  justify-content: center;
  gap: 40px;
}

.explore-packages-img img {
  width: 100%;
  border-radius: 5%;
}

.explore-packages-img {
  display: flex;
  object-fit: cover;
  position: relative;
}

.large {
  grid-row: span 2 / auto;
}
.img-overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: white;
  bottom: 20px;
  left: 25px;
  right: 25px;
  font-weight: normal;
  font-size: 18px;
  font-family: "Volkhov", serif;
}
/* explore-packages-section-end */

footer {
  position: relative;
  padding: 0 20px;
  margin-top: 150px;
}

.mountain-png {
  position: absolute;
  max-width: 577px;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.homepage-footer-container {
  margin-top: 94px;
  margin-bottom: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

.homepage-footer {
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 38px;
}

.footer-prg {
  color: #757095;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.32px;
}

#footer-icons {
  width: 30px;
  height: 20px;
  color: #df6951;
}

.footer-subtitle {
  font-weight: 700;
  line-height: 24px;
  font-size: 21px;
  color: #181433;
  margin-bottom: 24px;
}

.comp-ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  line-height: 24px;
  color: #181433;
}

.des-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 24px;
  color: #181433;
}

.footer-input-button {
  display: flex;
  margin-bottom: 21px;
  flex-wrap: wrap;
}

.footer-input {
  max-width: 250px;
  background-color: #eeeeff;
  outline: none;
  border: none;
  padding: 14px 20px;
}

.footer-button {
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #df6951;
  border-style: none;
  font-weight: 500;
  line-height: 26px;
}

.footer-join-text {
  color: #757095;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  opacity: 50%;
}

.footer-hr {
  max-width: 1200px;
  height: 2px;
  background: #e5e5ea;
  margin: 0 auto;
}

.footer-alt {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  color: #181433;
}