* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-hero-section-container {
  background-image: url(/images/homepage-background.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  padding: 0 20px;
}

.hs-travel-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f3f395;
  backdrop-filter: blur(8px);
  padding: 30px 0;
  border-radius: 5px;
}

.hs-form-datalist {
  all: unset;
  width: 150px;
  padding-left: 40px;
}

.hs-form-datalist::placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.hs-form-selections {
  outline: none;
  appearance: none;
  background: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  padding: 5px;
}

.hs-form-selections:focus,
.hs-form-selections:hover {
  color: rgba(0, 0, 0, 0.432);
}

.hs-submit-input {
  border: none;
  border-radius: 10px;
  background-color: #df6951;
  padding: 10px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.hs-client-images-section {
  display: flex;
  margin-top: 30px;
}

.hs-client-images img:not(:first-child) {
  margin-left: -15px;
}

.hs-client-plus {
  position: absolute;
  margin-left: -24px;
  margin-top: 6px;
}

.hs-client-images-section > span {
  margin: 10px;
  font-size: 12.5px;
}

.hs-scroll-img {
  position: absolute;
  bottom: -20%;
  left: 20px;
}

.hs-pageline-img {
  position: absolute;
  height: 3px;
  bottom: 50px;
}

.partners-section {
  display: flex;
  width: 100%;
  height: 200px;
  background: #f7f7f7;
}

.partners-logo-img {
  height: 50px;
  margin: auto;
  opacity: 0.4;
  filter: grayscale(100);
}

.honeymoon-specials-conteiner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.honeymoon-specials-box {
  flex: 1;
  max-width: 1404px;
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.honemoon-subtitle {
  color: #df6951;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.honeymoon-title {
  color: #181e4b;
  font-size: 50px;
  line-height: 71px;
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.honeymoon-prg {
  color: black;
  margin: 20px 0 30px 0;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.honeymoon-button {
  border-radius: 10px;
  padding: 15px 22.5px;
  color: white;
  background-color: #df6951;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  border-style: none;
  font-weight: 400;
}

.homepage-favorite-resorts-conteiner {
  display: flex;
  justify-content: center;
}

.homepage-favorite-resorts-box {
  flex: 1;
  max-width: 1350px;
  margin: 75px 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0 20px;
  justify-content: space-between;
}

.homepage-favorite-resorts-title {
  color: #df6951;
  font-size: clamp(15px, 2vw, 18px);
  line-height: clamp(20px, 2vw, 27px);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.homepage-favorite-resorts-subtit {
  max-width: 640px;
  color: #181e4b;
  font-size: clamp(30px, 4vw, 50px);
  line-height: clamp(45px, 4vw, 71px);
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.homepage-favorite-resorts-context {
  display: flex;
  align-items: center;
  gap: 20px;
}

.homepage-favorite-resorts-tit {
  color: #5e6282;
  font-size: 16px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 5px 0;
}

.homepage-favorite-resorts-p {
  color: #5e6282;
  font-size: 16px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.homepage-favorite-resorts-value {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.homepage-favorite-resorts-plane-div {
  flex-grow: 1;
}

.homepage-favorite-resorts-plane-img {
  width: 100%;
}

/* homepage-explore-section-start */

.homepage-explore-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.explore-section-box {
  position: relative;
}

.explore-section-img {
  width: 100%;
  min-width: 300px;
  height: 400px;
  object-fit: cover;
}

.explore-section-textbox {
  position: relative;
  text-align: center;
  display: flex;
  flex: 1;
}

.explore-section-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.explore-section-caption-h6 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: white;
}

.explore-section-caption-h2 {
  position: relative;
  font-family: Volkhov;
  font-size: clamp(24px, 4vw, 50px);
  font-weight: 700;
  line-height: clamp(40px, 4vw, 70px);
  letter-spacing: 0em;
  color: white;
}

.explore-section-line {
  position: absolute;
  bottom: -15px;
  right: 0px;
}

.explore-section-buton {
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 25px;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  border: 1px solid rgba(255, 255, 255, 1);
  background: transparent;
  color: white;
}

@media (max-width: 900px) {
  .homepage-explore-section {
    min-height: 400px;
    flex-wrap: wrap;
    height: auto;
  }
  .explore-section-img {
    min-width: 250px;
  }
}
/* homepage-explore-section-end */
footer {
  position: relative;
  padding: 0 20px;
  margin-top: 150px;
}

.mountain-png {
  position: absolute;
  max-width: 577px;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.homepage-footer-container {
  margin-top: 94px;
  margin-bottom: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

.homepage-footer {
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 38px;
}

.footer-subtitle {
  font-weight: 700;
  line-height: 24px;
  font-size: 21px;
  color: #181433;
  margin-bottom: 24px;
}

#footer-icons {
  width: 30px;
  height: 20px;
  color: #df6951;
}

.footer-prg {
  color: #757095;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.32px;
}

.comp-ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #181433;
}

.des-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #181433;
}

.footer-input-button {
  display: flex;
  margin-bottom: 21px;
  flex-wrap: wrap;
}

.footer-input {
  max-width: 250px;
  background-color: #eeeeff;
  outline: none;
  border: none;
  padding: 14px 20px;
}

.footer-button {
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #df6951;
  border-style: none;
  font-weight: 500;
  line-height: 26px;
}

.footer-join-text {
  color: #757095;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  opacity: 50%;
}

hr {
  max-width: 1200px;
  height: 2px;
  background: #e5e5ea;
  margin: 0 auto;
}

.footer-alt {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  color: #181433;
}

.homepage-banner-conteiner {
  background-image: url(/images/liberty-statue-img.png);
  background-size: cover;
  background-position: bottom;
  background-position-x: 70%;
  height: 399px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.homepage-banner {
  max-width: 1350px;
  margin: 0 auto;
  flex: 1;
  color: white;
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 700;
  line-height: clamp(40px, 4vw, 70px);
  font-family: "volkhov", serif;
  padding: 0 20px;
}

.homepage-banner-img-div {
  max-width: 700px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
