.partners-section {
  display: flex;
  width: 100%;
  height: 200px;
  background: #f7f7f7;
}

.partners-logo-img {
  height: 50px;
  margin: auto;
  opacity: 0.4;
  filter: grayscale(100);
}

.honeymoon-specials-conteiner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.honeymoon-specials-box {
  flex: 1;
  max-width: 1404px;
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.honemoon-subtitle {
  color: #df6951;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.honeymoon-title {
  color: #181e4b;
  font-size: 50px;
  line-height: 71px;
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.honeymoon-prg {
  color: black;
  margin: 20px 0 30px 0;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.honeymoon-button {
  border-radius: 10px;
  padding: 15px 22.5px;
  color: white;
  background-color: #df6951;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  border-style: none;
  font-weight: 400;
}

/* Homepage Trending Tour Start */

.homepage-trending-tour-packages {
  margin-top: 100px;
}
.trending-tour-packeges-title {
  text-align: center;
  margin: 0 auto;
  width: 639px;
  height: 171px;
}
.tt-subtitle {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #df6951;
}
.tt-title {
  margin-top: 10px;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 71.04px;
  text-align: center;
}
.tt-countrys {
  width: 1381px;
  height: 696.13px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tt-countrys-details {
  margin: 5px 50px;
  width: 395px;
  height: 696.13px;
  top: 5757px;
  left: 277px;
  gap: 0px;
  opacity: 0px;
}
.tour-img {
}
.contry-flag {
  margin-top: -60px;
  margin-right: 250px;
}
.tour-days-people {
  display: flex;
  font-family: Poppins;
  font-size: 16.81px;
  font-weight: 400;
  line-height: 25.21px;
  text-align: center;
  color: #7d7d7d;
  margin-top: -20px;
}
.calender-icon {
  width: 24px;
  height: 24px;
}
.stay-days {
  margin-left: 10px;
}
.people-icon {
  margin-left: 50px;
  width: 20px;
  height: 20px;
}
.people-going {
  margin-left: 10px;
}
.city-name-rating {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.star-icon-list {
  width: 92px;
  height: 16px;
  margin-top: 15px;
  float: right;
}

.star-icon {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0.5px 0px 0.5px 0px;
}
.country-location {
  display: flex;
  margin-top: 5px;
}
.location-icon {
  width: 27.5px;
  height: 27.5px;
}
.contry-name {
  font-family: Poppins;
  font-size: 16.81px;
  font-weight: 400;
  line-height: 25.21px;
  color: #7d7d7d;
  margin-left: 10px;
}
.tour-price {
  display: flex;
  margin-top: 5px;
}
.new-price {
  font-family: Poppins;
  font-size: 29.03px;
  font-weight: 500;
  line-height: 43.55px;
  color: #df6951;
}
.old-price {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  text-decoration: line-through;
  color: #7d7d7d;
  margin-top: 10px;
  margin-left: 20px;
}
.tour-info {
  margin-top: 10px;

  font-family: Poppins;
  font-size: 12.22px;
  font-weight: 400;
  line-height: 24.45px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #000000;
}
.tour-explore-button {
  padding: 10px 27.94px;
  border-radius: 7.64px;
  background: #df6951;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  border-style: none;
  font-weight: 400;
}

.city-name {
  font-family: Poppins;
  font-size: 29.03px;
  font-weight: 700;
  line-height: 43.55px;
  text-align: center;
}

/*Homepage Trending Tour End */
