* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-hero-section-container {
  background-image: url(/images/homepage-background.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.homepage-hero-section-box {
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
  color: white;
  max-width: 1350px;
}

.hero-section-header {
  display: flex;
  gap: 150px;
  font-size: 19px;
}

.hs-getintouch-button {
  border: none;
  border-radius: 10px;
  background-color: #df6951;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 0 30px;
  cursor: pointer;
}

.hero-section-nav {
  display: flex;
  gap: 35px;
  padding: 15px 50px;
}

.hs-nav-dropdown-text {
  display: none;
  font-size: 14px;
  color: white;
  position: absolute;
}

.hs-nav-dropdown-img {
  display: none;
  position: absolute;
  margin-left: -15px;
  z-index: 1;
}

.hs-nav-dropdown-text a {
  display: block;
  position: relative;
  margin-top: 15px;
  top: 25px;
  z-index: 2;
}

.hero-section-nav > li:hover {
  border-bottom: 3px solid #df6951;
}

.hs-nav-dropdown:hover .hs-nav-dropdown-img,
.hs-nav-dropdown:hover .hs-nav-dropdown-text {
  display: block;
}

.hero-section-contents {
  margin-top: 150px;
  max-width: 800px;
}

.hero-section-contents h1 {
  max-width: 630px;
  font-size: 58px;
  line-height: 67px;
  margin-bottom: 30px;
}

.hs-travel-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f3f395;
  backdrop-filter: blur(8px);
  padding: 30px 0;
  border-radius: 5px;
}

.hs-form-datalist {
  all: unset;
  width: 150px;
  padding-left: 40px;
}

.hs-form-datalist::placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.hs-form-selections {
  outline: none;
  appearance: none;
  background: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  padding: 5px;
}

.hs-form-selections:focus,
.hs-form-selections:hover {
  color: rgba(0, 0, 0, 0.432);
}

.hs-submit-input {
  border: none;
  border-radius: 10px;
  background-color: #df6951;
  padding: 10px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.hs-client-images-section {
  display: flex;
  margin-top: 30px;
  margin-bottom: 300px;
}

.hs-client-images img:not(:first-child) {
  margin-left: -15px;
}

.hs-client-plus {
  position: absolute;
  margin-left: -24px;
  margin-top: 6px;
}

.hs-client-images-section > span {
  margin: 10px;
  font-size: 12.5px;
}

.hs-scroll-img {
  position: absolute;
  bottom: -20%;
  left: 20px;
}

.hs-pageline-img {
  position: absolute;
  height: 3px;
  bottom: 50px;
}

.partners-section {
  display: flex;
  width: 100%;
  height: 200px;
  background: #f7f7f7;
}

.partners-logo-img {
  height: 50px;
  margin: auto;
  opacity: 0.4;
  filter: grayscale(100);
}

.honeymoon-specials-conteiner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.honeymoon-specials-box {
  flex: 1;
  max-width: 1404px;
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.honemoon-subtitle {
  color: #df6951;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.honeymoon-title {
  color: #181e4b;
  font-size: 50px;
  line-height: 71px;
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.honeymoon-prg {
  color: black;
  margin: 20px 0 30px 0;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.honeymoon-button {
  border-radius: 10px;
  padding: 15px 22.5px;
  color: white;
  background-color: #df6951;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  border-style: none;
  font-weight: 400;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

@media (max-width: 1000px) {
  .hero-section-nav {
    display: none;
  }

  .menu-toggle {
    display: inline-block;
    width: 36px;
    height: 50px;
  }

  .menu-open .hero-section-nav {
    display: block;
  }

  .menu-open .hs-nav-dropdown {
    display: block;
  }
  
  .hs-getintouch-button {
    display: none;
    
  }