.location-box {
  max-width: 780px;
  padding: 35px 28px;
}
.location-box-h3 {
  color: #181e4b;
  font-family: "Volkhov", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
#embed-map-display img.text-marker {
  max-width: none !important;
  background: none !important;
}
.location-box-p {
  color: #181e4b;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  padding: 30px 0;
}

.location-gps {
  overflow: hidden;
  max-width: 100%;
  width: 710px;
  height: 700px;
}
@media (max-width: 750px) {
  .location-gps {
    width: 650px;
  }
}
@media (max-width: 700px) {
  .location-hero-h1 {
    font-size: 100px;
    line-height: 150px;
  }
  .location-gps {
    width: 400px;
    height: 600px;
  }
}
@media (max-width: 450px) {
  .location-gps {
    width: 100%;
    height: 300px;
  }
  .location-box {
    padding: 35px 5px;
  }
}
