/* Header Section Start */
.packages-hero-section-container {
  background-image: url(/images/location/tour-location-homepage.png);
  display: flex;
  justify-content: center;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
}

.packages-hero-section-box {
  flex: 1;
  max-width: 1350px;
}

.nav-a {
  font-size: 19px;
}

.packages-nav-title-subtitle {
  margin-top: 100px;
  color: #fff;
  text-align: center;
}

.nav-title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(15px, 3vw, 18px);
  line-height: clamp(40px, 3vw, 27px);
  color: #fff;
}

.nav-subtitle {
  font-family: "yesteryear", sans-serif;
  font-weight: 400;
  font-size: clamp(50px, 10vw, 157px);
  line-height: clamp(40px, 6px, 223);
}
/* Header Section End */

.packages-main-content {
  max-width: 1328px !important;
  margin: -75px auto 0;
  background-color: transparent;
  box-shadow: 1px 1px 10px 10px lightgray;
}

/* Nav Section Start */
.main-content-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.info-nav-btn {
  height: 101px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f8f8f8;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(8px, 4vw, 18px);
  line-height: clamp(14px, 4vw, 20px);
  color: #343434;
  cursor: pointer;
}

.info-nav-btn:hover {
  background-color: #d3d3d3;
}

.active-btn {
  background-color: #ffffff;
}
/* Nav Section End */

.main-content-body {
  max-width: 1328px;
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  width: 60%;
  display: flex;
  padding: 30px 25px;
  flex-direction: column;
}

/* Information Page Start */
.content-head {
  max-width: 454px;
  padding: 35px 0;
}

.content-head-upper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.country {
  font-size: clamp(15px, 4vw, 25px);
  line-height: clamp(20px, 4vw, 40px);
  font-weight: 700;
  font-family: "Volkhov", serif;
  color: #181e4b;
}

.per-capita {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  align-items: center;
  flex-wrap: wrap;
}

.price {
  flex: 1;
  color: #df6951;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: clamp(15px, 4vw, 25px);
  line-height: clamp(20px, 4vw, 40px);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.slash {
  flex: 1;
  font-size: 35px;
  font-weight: lighter;
  color: #7d7d7d;
}

.per-couple {
  flex: 1;
  font-size: clamp(12px, 4vw, 14px);
  line-height: clamp(16px, 4vw, 20px);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.content-head-lower {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.review {
  font-size: clamp(12px, 4vw, 15px);
  line-height: clamp(14px, 4vw, 18px);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(10px, 4vw, 16px);
  line-height: clamp(15px, 4vw, 26px);
  font-weight: 400;
  color: #000000;
}

.flight-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
}

.flight-info:first-child {
  justify-content: left;
}

.flight-sub-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
  flex-wrap: wrap;
}

.flight-sub-info h3 {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 4vw, 16px);
  line-height: clamp(16px, 4vw, 24px);
  font-weight: 700;
  letter-spacing: 1px;
}

.flight-sub-info h4 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 4vw, 14px);
  line-height: clamp(14px, 4vw, 24px);
}

.answer-div {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.answer-div h4,
.flight-sub-info-answer h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 4vw, 14px);
  line-height: clamp(14px, 4vw, 24px);
}

.flight-sub-info-answer {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  flex-wrap: wrap;
}

.main-content-gallery {
  display: flex;
  max-width: 1328px;
  padding: 15px 0;
  position: relative;
}

.gallery-head {
  padding: 15px 25px;
}

.h1-gallery {
  font-family: "Volkhov", serif;
  color: #181433;
  padding: 16px 5px;
  font-weight: 700;
  font-size: clamp(20px, 4vw, 45px);
  line-height: clamp(30px, 4vw, 60px);
}

.gallery-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 190px));
  gap: 15px;
  padding: 0 40px;
}

.gallery-body img {
  width: 100%;
  border-radius: 5%;
}
/* Information Page End */

/* Tour Plan Page Start */
.tourplan-head {
  max-width: 454px;
  padding: 20px 0;
}

.tourplan-head h1 {
  font-family: "Volkhov", serif;
  font-weight: 700;
  color: #181e4b;
  font-size: clamp(25px, 8vw, 30px);
  line-height: clamp(26px, 8vw, 40px);
}

.tourplan-steps {
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.step {
  display: flex;
  position: relative;
  min-height: 320px;
}

.step::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: calc(100% + 10px);
  left: 22px;
  background-color: #df6951;
  opacity: 0.5;
}

.step2 {
  display: flex;
  position: relative;
}

.step-serial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.step-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #df6951;
  border-radius: 10px;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 15px;
  width: 48px;
  letter-spacing: 4px;
}

.step-info {
  padding-left: 30px;
  color: #181e4b;
}

.step-info h2 {
  font-weight: 600;
  font-size: clamp(16px, 8vw, 20px);
  line-height: clamp(20px, 8vw, 30px);
  padding-top: 15px;
}

.step-info p {
  padding: 10px 0;
}

.step-info li {
  list-style-type: disc;
  margin-left: 15px;
  font-weight: 400;
  font-size: clamp(10px, 4vw, 14px);
  line-height: clamp(14px, 4vw, 24px);
  padding: 5px 0;
}
/* Tour Plan Page End */

/* Location Page Start */
.location-head {
  max-width: 454px;
  padding: 20px 0;
}

.location-head h1 {
  font-family: "Volkhov", serif;
  font-weight: 700;
  color: #181e4b;
  font-size: clamp(25px, 8vw, 30px);
  line-height: clamp(26px, 8vw, 40px);
}

.location-p {
  padding: 10px 0;
}

#embed-map-display img.text-marker {
  max-width: none !important;
  background: none !important;
}

.location-gps {
  overflow: hidden;
  max-width: 100%;
  width: 710px;
  height: 700px;
}
/* Location Page End */

/* Gallery Page Start */
.gallery-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  max-width: 1000px;
}

.gallery-item img {
width: 100%;
height: 100%;
display: block;
object-fit: cover; 
}

.tall {
grid-row: span 3;
grid-column: span 2;
}

.large {
grid-column: span 2;
grid-row: span 1;
}

.wide {
grid-column: span 3;
}

.gallery-text {
  text-align: center;
  padding-top: 60px;
}

.gallery-text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #181e4b;
  font-size: clamp(10px, 4vw, 16px);
  line-height: clamp(14px, 4vw, 24px);
  letter-spacing: 16px;
}
/* Gallery Page End */

.main-content-img img {
  position: relative;
  left: -25px;
  bottom: -35px;
  padding-top: 60px;
}

/* Booking Section Start */
.main-content-book {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  overflow: hidden;
}

.main-content-form {
  background-color: #f9f9f9;
  padding: 25px 30px;
  margin-right: 15px;
}

.form-head {
  text-align: center;
}

.form-head p {
  padding: 10px 0;
}

.form-head h1 {
  font-family: "Volkhov", serif;
  font-weight: 700;
  color: #181e4b;
  font-size: clamp(22px, 4vw, 35px);
  line-height: clamp(35px, 4vw, 55px);
}

.form-body {
  padding: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
textarea {
  padding: 25px 15px;
  border: none;
  background-repeat: no-repeat;
  text-indent: 30px;
  background-size: 18px 18px;
  background-position: 16px 26px;
  font-size: 18px;
}

form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  opacity: 26%;
  font-size: 14px;
  font-size: clamp(10px, 4vw, 16px);
  line-height: clamp(14px, 4vw, 20px);
  color: #000000;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  opacity: 26%;
  font-size: 14px;
  font-size: clamp(10px, 4vw, 16px);
  line-height: clamp(14px, 4vw, 20px);
  color: #000000;
}

form input:focus::placeholder {
  opacity: 0.1;
}

textarea:focus::placeholder {
  opacity: 0.1;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button {
  border: none;
  border-radius: 10px;
  background-color: #df6951;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 20px;
  cursor: pointer;
  width: 175px;
  margin: 5px auto;
}

.form-button:hover {
  background-color: #b86e14;
}

.main-content-book-img img {
  width: 100%;
  position: relative;
  right: 0;
  left: -60px;
}
/* Booking Section End */

/* Footer Start */
footer {
  position: relative;
  padding: 0 20px;
  margin-top: 150px;
}

.mountain-png {
  position: absolute;
  max-width: 577px;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.homepage-footer-container {
  margin-top: 94px;
  margin-bottom: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

.homepage-footer {
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 38px;
}

.footer-prg {
  color: #757095;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.32px;
}

#footer-icons {
  width: 30px;
  height: 20px;
  color: #df6951;
}

.footer-subtitle {
  font-weight: 700;
  line-height: 24px;
  font-size: 21px;
  color: #181433;
  margin-bottom: 24px;
}

.comp-ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  line-height: 24px;
  color: #181433;
}

.des-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 24px;
  color: #181433;
}

.footer-input-button {
  display: flex;
  margin-bottom: 21px;
  flex-wrap: wrap;
}

.footer-input {
  max-width: 250px;
  background-color: #eeeeff;
  outline: none;
  border: none;
  padding: 14px 20px;
}

.footer-button {
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #df6951;
  border-style: none;
  font-weight: 500;
  line-height: 26px;
}

.footer-join-text {
  color: #757095;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  opacity: 50%;
}

.footer-hr {
  max-width: 1200px;
  height: 2px;
  background: #e5e5ea;
  margin: 0 auto;
}

.footer-alt {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  color: #181433;
}
/* Footer End */

@media screen and (max-width: 800px) {
  .main-content {
    width: 100%;
  }
  .main-content-gallery {
    flex-wrap: wrap;
  }
  .step {
    flex-wrap: wrap;
    min-height: fit-content;
  }
  .step2 {
    flex-wrap: wrap;
    min-height: fit-content;
  }
  .step-info {
    padding: 0;
  }
  .step::before {
    display: none;
  }
  .gallery-text {
    padding-top: 20px;
  }
  .main-content-book {
    width: 100%;
    justify-content: center;
    padding: 0 0 50px 0;
  }
  .main-content-form {
    padding: 35px 20px;
    margin-right: 0;
  }
  .form-button {
    width: auto;
  }
  .main-content-img, .main-content-book-img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    padding: 25px 10px;
  }
  .location-gps {
    width: 100%;
    height: 300px;
  }
  .gallery-container {
    grid-template-columns: repeat(auto-fit, 145px);
    gap: 10px;
  }
}